<nav class="sidebar vh-100">


  <%= link_to image_tag("logo.svg"), root_path, class: "sidebar-logo" %>


  <div class="sidebar-section">
    <h4 class="sidebar-title">View</h4>
    <div class="sidebar-pair"><i class="fas fa-tasks"></i><%= link_to "Projects", all_projects_path, class: 'sidebar-link' %></div>
    <div class="sidebar-pair"><i class="fas fa-user-friends"></i><%= link_to "Clients", clients_projects_path, class: 'sidebar-link' %></div>
    <div class="sidebar-pair"><i class="far fa-check-circle"></i><%= link_to "Completed", completed_projects_path, class: 'sidebar-link' %></div>
  </div>
  <div class="sidebar-section top-border">
    <h4 class="sidebar-title">Report</h4>
    <div class="sidebar-pair"><i class="far fa-chart-bar"></i> <%= link_to "Reports", reports_projects_path, class: 'sidebar-link' %> </div>
    <div class="sidebar-pair"><i class="fas fa-file-invoice-dollar"></i><%= link_to "Invoices", invoices_projects_path, class: 'sidebar-link' %></div>
  </div>
  <div class="sidebar-section top-border">
    <h4 class="sidebar-title">Info</h4>
    <div class="sidebar-pair"><i class="fas fa-circle"></i><a href="" class="sidebar-link">About</a></div>
  </div>

  <div class="sidebar-modal">
    <%= render partial: 'projects/new', locals: {new_project: @new_project} %>
  </div>

  <div class="sidebar-section">
    <div class="logout">
      <%= image_tag "https://publish.one37pm.net/wp-content/uploads/2021/02/punks.png?fit=600%2C600", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>
