<nav class="sidebar vh-100">
  <h1><%= link_to "Hakuna", root_path %></h1>
  <div class="sidebar-section">
    <h4 class="sidebar-title">View</h4>
    <%= link_to "Projects", projects_path, class: 'sidebar-link' %>
    <a href="" class="sidebar-link">Clients</a>
    <a href="" class="sidebar-link">Completed</a>
  </div>
  <div class="sidebar-section">
    <h4 class="sidebar-title">Report</h4>
    <a href="" class="sidebar-link">Reports</a>
    <a href="" class="sidebar-link">Invoices</a>
  </div>
  <div class="sidebar-section">
    <h4 class="sidebar-title">Info</h4>
    <a href="" class="sidebar-link">About</a>
  </div>

  <div class="sidebar-modal">
    <%= render partial: 'projects/new', locals: {new_project: @new_project} %>
  </div>

  <div class="sidebar-section">
    <div class="logout">
      <%= image_tag "https://publish.one37pm.net/wp-content/uploads/2021/02/punks.png?fit=600%2C600", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>
