<div class="main main-signed-in">

<div class="d-flex justify-content-end ">
  <div class="search-container">
    <%= form_tag all_projects_path, method: :get, class: "searchBox" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "searchInput",
        placeholder: "Find a project"
      %>
      <%= submit_tag "🔎 Search", class: "searchButton" %>
    <% end %>
  </div>
</div>

  <h1 class="page-title">All Projects</h1>

  <div class="sortable">
    <% @projects.each do |project| %>
        <div data-id="<%= project.id %>" class="project-card d-flex justify-content-between align-items-center my-3" id="project-<%=project.id %>">
          <div class="card-project"><p class="margin-b"><%= link_to project.name, project_path(project) %></p></div>
          <div class="card-client"><p class="margin-b"><%= project.client %></p></div>
          <div class="card-project deadline"><p class="margin-b"><%= project.deadline %></p></div>
          <div class="card-element"><p class="margin-b"><%= render 'projects/edit', project: project %></div>
          <div class="card-element"><p class="margin-b"><%= link_to "Delete", project_path(project), method: 'delete' %></p></div>
          <div class="card-arrow"><i class="fas fa-caret-right fa-2x btn-play"></i></div>
        </div>
    <% end %>
  </div>


</div>
