<% if @completed_projects %>

  <div class="main main-signed-in">

    <div class="show-projects-header">

      <h1 class="page-title">Completed Projects</h1>

      <div class="search-container">
        <%= form_tag all_projects_path, method: :get, class: "searchBox" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "searchInput",
            placeholder: "Search"
          %>
          <i class="fas fa-arrow-right search-arrow"></i>
          <%= submit_tag " ", class: "search-submit" %>

        <% end %>
      </div>

    </div>

    <div class="project-headers grid client-grid">
      <p>Project Name</p>
      <p>Client</p>
      <p>Deadline</p>
      <p></p>
      <p></p>
      <%# <p>Track</p> %>
    </div>


    <% @completed_projects.each do |project|  %>
      <div class="client-grid grid project-item">
        <div><p class="margin-auto"><%= link_to project.name, project_path(project) %></p></div>
        <div><p class="grey-text margin-auto"><%= project.client %></p></div>
        <div><p class="grey-text margin-auto"><%= project.deadline %></p></div>
        <div class="projects-edit-btn"><p><%= link_to "Edit", project_path(project.id), method: 'edit' %></p></div>
        <div class="projects-delete-btn"><p><%= link_to "Delete", project_path(project.id), method: 'delete' %></p></div>
        <%# <div><i class="fas fa-caret-right fa-2x btn-play"></i></div> %>
      </div>
    <% end %>

  </div>
  <% else %>
  <div class="main main-signed-in">
    <h3 class="my-4">You have not completed projects yet.</h3>
  </div>
<% end %>
