 <%# This is the code for when a new user comes onto the app %>
  <% unless user_signed_in? %>
    <%# This is the container for the whole homepage %>
    <div class="main new-user-home overflow-hidden">
      <div class="new-user-img">
      </div>

      <div class="home-header">
        <%# Here is the main Hakuna logo %>
       <%= link_to image_tag('logo.svg'), root_path, class: 'logo-home' %>

        <%# Here are individual pages showing descriptions of the app %>
        <div class="header-links">
          <%= link_to "About", about_path %>
          <%# <a href="">Features</a> %>
          <%= link_to "Pricing", pricing_path %>
        </div>

        <%# Here are links where the user can log in %>
        <div class="header-authentication-links">
          <%= link_to "Sign In", new_user_session_path, class: 'hero-link' %>
          <%= link_to "Get Started", new_user_registration_path, class: 'hero-link' %>
        </div>
      </div>

      <%# Here the hero section begins %>
      <div class="hero">
        <div class="hero-container">
          <div class="hero-content hero-left">
            <h2>No worries,<br>For the rest of your freelancing days</h2>
            <h4>Hakuna’s user-friendly interface and accurate time-tracking takes the ‘wo’ out of work.
                Focus on the things that matter to you most.</h4>
            <%= link_to "Get Started", new_user_registration_path, class: 'new-user-home-link hero-link' %>
          </div>

          <div class="hero-right">
          </div>
        </div>

      </div>

    </div>

    <% else %>
    <div class="main main-signed-in">
      <%= render 'projects/timetracker' %>
      <%= render 'projects/index' %>
    </div>

    <div>


  <% end %>
