<%# Placeholder for the tracker %>
<%= render 'shared/tracker' %>

<div class="index-header bottom-border mb-5">
  <div class="d-flex wrap">
    <h1>Dashboard <span class="grey-text ml-5 font-weight-light">Welcome</span></h1>
  </div>

  <div class="sidebar-modal">
    <%= render partial: 'projects/new', locals: {new_project: @new_project} %>
  </div>

  <%# Search bar for projects %>
  <div class="search-container">
    <%= form_tag all_projects_path, method: :get, class: "searchBox" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "searchInput",
        placeholder: "Search"
      %>
      <i class="fas fa-arrow-right search-arrow"></i>
      <%= submit_tag " ", class: "search-submit" %>
    <% end %>
  </div>

</div>

<div class="index-section">
  <div class="d-flex mb-5">
    <div class="red-circle mr-3"></div><h3>Due Soon</h3>
  </div>

    <div class="index-grid grid">
      <p>Project</p>
      <p>Client</p>
      <p>Deadline</p>
      <p>Exp. Hours</p>
      <p>Rate ($/Hour)</p>
      <p></p>
      <p></p>
    </div>

    <% @projects.each do |project| %>
      <div class="index-grid project-item grid" id="project-<%=project.id %>">
        <div><p class="margin-auto"><%= link_to project.name, project_path(project) %></p></div>
        <div><p class="grey-text margin-auto"><%= project.client %></p></div>
        <div><p class="grey-text margin-auto"><%= project.deadline %></p></div>
        <div><p class="grey-text margin-auto"><%= project.expected_time %>hr</p></div>
        <div><p class="grey-text margin-auto"><%= project.rate %></p></div>
        <div class="projects-edit-btn button"><%= render 'projects/edit', project: project %></div>
        <div class="projects-delete-btn"><p><%= link_to "Delete", project_path(project), method: 'delete' %></p></div>
        <%# <div><i class="fas fa-caret-right fa-2x btn-play"></i></div> %>
      </div>
    <% end %>
</div>

<div class="index-section">
  <div class="d-flex">
    <div class="blue-circle mr-3"></div><h3 class="mb-5">Recently Completed</h3>
  </div>
  <div class="index-grid grid">
    <div><p>Project</p></div>
    <div><p>Client</p></div>
    <div><p>Deadline</p></div>
    <div><p>Exp. Hours</p></div>
    <div><p>Rate ($/Hour)</p></div>
    <p></p>
    <p></p>
  </div>

  <% @projects_recently_completed.each do |project|  %>
    <div class="index-grid grid project-item" id="project-<%=project.id %>">
      <div><p class="margin-auto"><%= link_to project.name, project_path(project) %></p></div>
      <div><p class="grey-text margin-auto"><%= project.client %></p></div>
      <div><p class="grey-text margin-auto"><%= project.deadline %></p></div>
      <div><p class="grey-text margin-auto"><%= project.expected_time %>hr</p></div>
      <div><p class="grey-text margin-auto"><%= project.rate %></p></div>
      <div class="projects-edit-btn button"><%= render 'projects/edit', project: project %></div>
      <div class="projects-delete-btn button"><p><%= link_to "Delete", project_path(project), method: 'delete' %></p></div>
      <%# <div class="card-arrow"><i class="fas fa-caret-right fa-2x btn-play"></i></div> %>
    </div>
 <% end %>
</div>
