<!-- Button trigger modal -->
<button type="button" data-toggle="modal" data-target="#newModalCenter">
  New Project
</button>

<!-- Modal -->
<div class="modal fade" id="newModalCenter" tabindex="-1" role="dialog" aria-labelledby="newModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-new">
      <div class="modal-header modal-head">
        <div>
          <h4>The Start Of Something New</h4>
          <h5>Add A New Project</h5>
        </div>
        <button type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(new_project) do |f| %>
          <%= f.input :name, :placeholder => "Project Name*" %>
          <%= f.input :client, :placeholder => 'Client*'  %>
          <%= f.input :expected_time, :placeholder => "Estimated Time (Hours)", html5: true, input_html: { min: 1 }  %>
          <%= f.input :deadline, html5: true %>
          <%= f.input :rate, :placeholder => "Hourly Rate" %>
          <%= f.input :email, :placeholder => "Client email" %>
      </div>
      <div class="modal-footer modal-footer-new">
        <%= f.submit "Save", class: "modal-button" %>
      </div>
        <% end %>
    </div>
  </div>
</div>
