<table class="table table-hover">
  <thead>
    <tr class="bottom-border">
      <th scope="col">#</th>
      <th scope="col">DATE</th>
      <th scope="col">NOTES</th>
      <th scope="col">TIME LAPSED</th>
      <th scope="col">$</th>
    </tr>
  </thead>
  <tbody>
  <% @logs.each do |log| %>
    <tr>
      <th scope="row"> <%= @counter %></th>
      <td><%= log.start_time.strftime("%d %B %Y") %></td>
      <td><%= log.description %></td>
      <td><%= Time.at(log.duration).utc.strftime('%H hr : %M m') %></td>
      <td>$ <%= (log.duration/60) * @project.rate %></td>
    </tr>
    <% @counter += 1 %>
  <% end %>
  </tbody>
</table>
