<div>
  <div class="project-card d-flex justify-content-between align-items-center my-3">
       <div class="card-button">What are we going to do today?</div>
       <div class="card-tt"><p class="margin-b">Note</p></div>
       <div class="card-project"><p class="margin-b">00:00:00</p></div>
       <div class="card-arrow"><i class="fas fa-caret-right fa-2x btn-play"></i></div>
  </div>
</div>


<div>
    <%= simple_form_for @timelapse, html: { class:'project-card d-flex justify-content-between align-items-center my-3'} do |f| %>
      <%= f.select(:project_id, current_user.current_user_projects, {include_blank: "Select something"}, { :class => 'timetracker-project' }) %>
      <%= f.input :description, input_html: { class: 'timetracker-description' }, as: :text, placeholder: 'Write a description of your tasks', label: false %>
      <%= f.button :submit, 'Save', class: 'timetracker-submit' do %>
        <i class="fas fa-caret-right fa-2x btn-play"></i>
      <% end %>
      <div class="card-project" id="countdown" data-start="<%= @timelapse.start_time %>"></div>
      <% if @timelapse.id %>
       <button type="button" id="start-<%= @timelapse.id %>"><i class="fas fa-caret-right fa-2x btn-play"></i></button>
      <% end %>
    <% end %>

</div>
