<div>
  <div class="project-card d-flex justify-content-between align-items-center my-3">
      <div class="card-button dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          What are we working on today?
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @projects.each do |project| %>
           <a class="dropdown-item" href="#"><%= project.name %></a>
          <% end %>
        </div>
       </div>
       <div class="card-tt"><p class="margin-b">Add note</p></div>
       <div class="card-project"><p class="margin-b">00:00:00</p></div>
       <div class="card-arrow"><i class="fas fa-caret-right fa-2x btn-play"></i></div>
  </div>
</div>


<div>
<%= simple_form_for @timelapse do |f| %>
  <%= f.input :description, as: :text %>
  <%= f.select :project_id, collection: current_user.current_user_projects %>
  <%= f.submit %>
<% end %>
