<div class="main main-signed-in">

  <div class="show-projects-header">

    <h1 class="page-title">Clients</h1>

    <div class="search-container">
      <%= form_tag all_projects_path, method: :get, class: "searchBox" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "searchInput",
          placeholder: "Search"
        %>
        <i class="fas fa-arrow-right search-arrow"></i>
        <%= submit_tag " ", class: "search-submit" %>

      <% end %>
    </div>

  </div>


  <div class="project-headers clients-grid">
    <p>Client  Name</p>
    <p>No. of Projects</p>
    <p></p>
  </div>

  <% i = 0 %>
  <% @clients.each do |client, project| %>
    <div class="clients-grid project-item">
      <div><p class="margin-auto"><%= client %></p></div>
      <div><p class="margin-auto center"><%= project %></p></div>
      <div class="projects-delete-btn"><p class="margin-auto"> <%= link_to "See all projects", client_projects_path(client) %></p></div>
    </div>
  <% end %>
    <% i += 1 %>

</div>
