<div>
  <h2><%= @project.name %></h2>
  <h2><%= @project.client %></h2>
  <p><%= @status %></p>
  <p>Due date: <%= @project.deadline %></p>
  <p>Rate: $ <%= @project.rate %>/hr</p>
</div>

<div>
  <%= render 'table', project: @projects %>
  <p>Total ($) = <%= @project.cost %></p>
</div>
