<head>
  <style>
    .information{
      padding: 36px;
    }

    .image-meme{
      padding: 24px;
    }

    .total{
      text-align: right;
      background-color: #BE7520;
      font-size: 12px;
      font-weight: normal;
      color: #ffffff;
      padding: 4px
    }

      .table-wrapper{
      margin: 10px 70px 70px;
    }

  .fl-table {
      border-radius: 5px;
      font-size: 12px;
      font-weight: normal;
      border: none;
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      white-space: nowrap;
      background-color: white;
    }

  .fl-table td, .fl-table th {
      text-align: center;
      padding: 8px;
  }

  .fl-table td {
      border-right: 1px solid #f8f8f8;
      font-size: 12px;
  }

  .fl-table thead th {
      color: #ffffff;
      background: #BE7520;
  }


  .fl-table thead th:nth-child(odd) {
      color: #ffffff;
      background: #BE7520;
  }

  .fl-table tr:nth-child(even) {
      background: #F8F8F8;
  }

  </style>
</head>


<div class="invoice">
  <div>
    <%= wicked_pdf_image_tag @logo_url %>
  <div>

  <div>
    <div class="information">
      <h2><%= @project.name %></h2>
      <p>Date:<%= Date.today %></p>
      <p>Client: <%= @project.client %></p>
      <p><%= @project.email %></p>
    </div>
    <div>
    </div>
  </div>

  <div>
    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">DATE</th>
            <th scope="col">NOTES</th>
            <th scope="col">TIME LAPSED</th>
            <th scope="col">$</th>
          </tr>
        </thead>
        <tbody>
          <% @logs.each_with_index do |log, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= log.start_time.strftime("%d %B %Y") %></td>
              <td><%= log.description %></td>
              <td><%= Time.at(log.duration).utc.strftime('%H hr : %M m : %S s') %></td>
              <td>$ <%= ((log.duration/3600) * @project.rate).round(2) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p class= "total">TOTAL($) = <%= @total_cost.round(2) %></p>
    </div>
    <div class="image-meme">
      <%= wicked_pdf_image_tag @image_meme, style: "width: 400px; height: 300px;" %>
      <p>Thanks for using Hakuna, enjoy it :)</p>
    </div>
  </div>
</div>
