<div class='main main-signed-in'>
  <h1>PROJECTS</h1>
  <h2><%= @project.name %></h2>
  <h2><%= @project.client %></h2>
  <p><%= @status %></p>
  <p>Due date: <%= @project.deadline %></p>
  <p>Rate: $ <%= @project.rate %>/hr</p>
  <%= render 'edit', project: @project %>
  <button><%= link_to 'Delete', project_path, method: 'delete'%></button>
  <h2>Log</h2>
  <%= render 'table', project: @projects %>
  <p>Total ($)</p>
  <p><%= @project.cost %></p>
  <button><%= link_to 'Mark as completed', complete_project_path(@project), method: 'patch' %></button>
  <button><%= link_to 'Generate invoice' %></button>
  <%= link_to 'PDF', project_path(@project, format: :pdf), class: "btn btn-danger" %> <%# Boton para PDF by: Mau:)  %>
</div>
