<div class='main main-signed-in'>
  <div class="project-show">
    <h1 class="sidebar-title">PROJECTS</h1>
  </div>
  <div class="project-show">
    <h2 class="project-name"><%= @project.name %> </h2>
    <h2 class="gray"><%= @project.client %> </h2>
    <h3 class="gray pl-3"><%= @project.email %></h3>
  </div>
  <div class="project-show">
    <a class="project-show-button"><%= @status %></a>
  </div>

  <div class="project-show project-details">
    <p><span class="gray">Due date: </span><%= @project.deadline %></p>
    <p><span class="gray">Rate: </span>$<%= @project.rate %>/hour</p>
    <%= render 'edit', project: @project %>
    <button><%= link_to 'Delete', project_path, method: 'delete', class: 'project-show-button' %></button>
  </div>

  <h2 class="project-name">Log</h2>
  <%= render 'table', project: @projects %>
  <p>Total ($)</p>
  <p><%= @project.cost %></p>
  <button><%= link_to 'Mark as completed', complete_project_path(@project), method: 'patch' %></button>
  <%= link_to 'Generate invoice', project_path(@project, format: :pdf), class: "btn btn-danger", target: "_blank" %> <%# Boton para PDF by: Mau:)  %>
  <%= link_to 'Send by email', send_email_project_path(@project), class: "btn btn-danger" %>
</div>
