<div class='main main-signed-in'>

  <div class="show-projects-header">
    <h1 class="page-title">Projects</h1>
  </div>

  <div class="project-show">
    <h2 class="project-name"><%= @project.name %> </h2>
    <h2 class="gray"><%= @project.client %> </h2>
    <h3 class="gray pl-3"><%= @project.email %></h3>
  </div>

  <p class="status-button button mb-5"><%= @status %></p>

  <div class="project-show project-details">
    <p>Due Date:<span class="gray ml-3"><%= @project.deadline %></span></p>
    <p>Rate: <span class="gray ml-3">$<%= @project.rate %>/hour</span></p>
    <%= render 'edit', project: @project, class: 'projects-edit-btn' %>
    <%= link_to 'Delete', project_path, method: 'delete', class: 'project-show-button' %>
  </div>

  <h2 class="project-name">Log</h2>
  <%= render 'table', project: @projects %>
  <p>Total ($)</p>

  <p><%= @total_cost.round(2) %></p>
    <div class="project-action-buttons">
      <%= link_to 'Mark As Incomplete', complete_project_path(@project), class: 'button project-action-button',id: 'status-button', method: 'patch' %>
      <%= link_to 'Generate Invoice', project_path(@project, format: :pdf), class: 'button project-action-button', id: 'invoice-button', target: "_blank" %> <%# Boton para PDF by: Mau:)  %>
      <%= link_to 'Send Email To Client', send_email_project_path(@project), class: "button project-action-button", id: 'email-button' %>
    </div>
  </div>
